html {
    font-size: 10px;
    /*  */
    font-family: 'Open Sans', sans-serif;
    /* width: 600px; */
    background-color: #F9F780
    /* color: orange   ; */
    /* display: block; */
    
}
h1 {
    font-size: 60px;
    text-align: center;
    /* text-shadow: black; */

    margin: 0;
    padding: 20px 0;
    color: #F9F780;
    text-shadow: 3px 3px 1px black;

}
p, li {
    font-size: 16px;
    line-height: 2;
    letter-spacing: 1px;
}
body {
    width: 600px;
    margin: 0 auto;
    background-color: burlywood;
    padding: 0px 20px 20px 20px;
    border: 1px solid black;
}
img {
    display: block;
    margin: 0 auto;
}